.ball {
    background-color: black;
    width: 58vh;
    height: 58vh;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
    display: flex;
    align-items: center;
    background: radial-gradient(circle at 100px 100px, #050c13, #000);
}

.answer-field {
    background-color: white;
    color: black;
    width: 23vh;
    height: 23vh;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* Fade In Effect */
    visibility: visible;
    opacity: 1;
    transition: opacity 3s linear;
}

/* 8 Ball Animation */
.answer-field-animation {
    background-color: white;
    color: black;
    width: 23vh;
    height: 23vh;
    border-radius: 50%;
    text-align: center;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    /* transform: rotate(3deg); */
    /* transform: rotate(0.3rad);/ */
    /* transform: rotate(3grad); */
    /* transform: rotate(.03turn);  */
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 5s, opacity 3s linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}